.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    max-width: 1140px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto ;
    position: relative;
    font-size: 14px;
}

.header nav ul{
    display: flex;
    gap: 50px;
    height: 80px;
    margin: 0px;
    padding: 0px;
}

.header-logo {
    width: 92.65px;
    height: 25px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.header-nav-item {
    margin-top: auto;
    margin-bottom: auto;
}

.header-nav-item a, button a{
    text-decoration: none;
    line-height: 17.64px;
}

.header-nav-item a {
    color: #191619;
}

.header-nav-button a {
    color: #0CBBC7;
}

.header-nav-button {
    border: 1px solid #0CBBC7;
    background-color: transparent;
    width: 138px;
    height: 38px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}