body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    margin: 0px;
  }

button a{
    font-weight: 700;
}

.div {
    display: block;
}

@import "./body/header";
@import "./body/footer";
@import "./body/hero-section";
@import "./body/customers-section";
@import "./body/promises-section";
@import "./body/awards-section";
@import "./body/BfP-section";
@import "./body/testemonials-section";
@import "./body/solution-section";
@import "./body/resources-section";